html{
  margin: 0;
  padding: 0;
  font-family: Merriweather, Roboto;
}
main{
  flex-flow: row wrap;
}
.flex {
  display: flex;
}
body{
  background-color: #F2F1E8;
  flex-wrap: nowrap;
}
.site-header{
  background-color: white;
  background-image: url("images/bent-creek-logo.png");
  background-repeat: no-repeat;
  height: 7em;
  width: 100%;
  margin-top: -10px;
}
nav{
  padding: 2% 1%;
  margin: 10px 30px;
  justify-content: center;
  display: flex;
}
nav > a{
  font-size: 2em;
  margin: 0 20px;
  color: #131511;
}
a:visited{
  color: #968772;
}
.hpover{
  font-weight: 500;
  font-size: 4em;
  text-align: center;
}
.hpunder{
  font-weight: 100;
  text-align: center;
}
li span{
  position: absolute;
  top: 1em;
}
footer{
  margin-top: 20px;
  background-color: #2B2F26;
  color: white;
  padding: 20px;
  width: 100%;
}
.wrapper{
  flex-direction: column;
  align-items: center;
}
.abouttitle{
  font-size: 3em;
  text-align: center;
  font-weight: 500;
}
.birdhouse{
  float: left;
  margin-right: 20px;
  padding-bottom: 15px;
}
.wrapper2 img{
  height: 247px;
  width: 355px;
}
.wrapper3 img{
  height: 247px;
  width: 355px;
}
.room{
  background-image: url("images/background-3.jpg");
  background-size: cover;
  height: 250px;
  width: 100%;
}
.roomtext{
  justify-content: center;
  padding-top: 3em;
  font-size: 35px;
  color: white;
}
table{
  justify-content: center;
  border-collapse: collapse;
  margin-left: 25em;
}
a:hover{
  color: #967343;
}
table, th, tr, td{
  border: 1px solid black;
  text-align: center;
}
td:nth-child(even){
  background-color: #F2EADC;
}
.wrapper2{
  width: 80%;
}
.wrapper3{
  width: 80%;
}
.row1{
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  margin-bottom: -1em;
}
.row2{
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
}
.p1{
  position: relative;
}
.p2{
  position: relative;
}
.p3{
  position: relative;
}
.p4{
  position: relative;
}
.p5{
  position: relative;
}
.p6{
  position: relative;
}
.p7{
  position: relative;
}
.p1 img{
  width: 728px;
  height: 371px;
  margin: 10px;
}
.p2 img{
  width: 232px;
  height: 371px;
  margin: 10px;
}
.p3 img{
  width: 232px;
  height: 371px;
  margin: 10px;
}
.p4 img{
  width: 231px;
  height: 243px;
  margin: 10px;
}
.p5 img{
  width: 231px;
  height: 243px;
  margin: 10px;
}
.p6 img{
  width: 483px;
  height: 243px;
  margin: 10px;
}
.p7 img{
  width: 231px;
  height: 243px;
  margin: 10px;
}
.p1 span{
  padding: 10px;
  left: 20px;
  margin-top: 20em;
  color: white;
  background-color: rgb(32, 36, 39);
}
.p2 span{
  padding: 10px;
  margin-top: 20em;
  left: 20px;
  color: white;
  background-color: rgb(32, 36, 39);
}
.p3 span{
  padding: 10px;
  margin-top: 20em;
  left: 20px;
  color: white;
  background-color: rgb(32, 36, 39);
}
.p4 span{
  padding: 10px;
  margin-top: 12em;
  left: 20px;
  color: white;
  background-color: rgb(32, 36, 39);
}
.p5 span{
  padding: 10px;
  margin-top: 12em;
  left: 20px;
  color: white;
  background-color: rgb(32, 36, 39);
}
.p6 span{
  padding: 10px;
  margin-top: 12em;
  left: 20px;
  color: white;
  background-color: rgb(32, 36, 39);
}
.p7 span{
  padding: 10px;
  margin-top: 12em;
  left: 20px;
  color: white;
  background-color: rgb(32, 36, 39);
}
.mainmain{
  justify-content: center;
}
.bg1div{
  width: 30%;
  float: right;
}
.bg1div img{
  width: 50%;
  height: 50%;
}
.bq{
  border-left: 5px solid black;
}
.newsbox{
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  width: 50%;
  height: 50%;
}
.newsbg{
  background-image: url("images/background-2.jpg");
  height:800px;
  background-repeat: no-repeat;
  position: relative;
  top: -7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newstext, .newstext2{
  font-family: Merriweather;
  font-weight: lighter;
}
.newstext{
  padding-top: 1.5em;
}
.formform input{
  display: flex;
  flex-flow: column wrap;
  font-size: 20px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #968774;
  margin: 2em;
  color: #968774;
  width: 36em;
}
.formform button{
  color: white;
  background-color: #968774;
  padding: 1em 2em;
  font-size: 18px;
  border-style: none;
  position: relative;
  top: -10px;
}
